.phone

{
    background-color: blue;
}
#iphone17pro
{
    background: color(srgb #ff2020 green blue);
}
#tv{
    background-color: aliceblue;
}
#pc{
    background-color: blueviolet;
}
#vc{
    background-color: cadetblue;
}
hello world{
    background-color: blueviolet;
}